body {
    margin: 1em;
    background-color: silver;
    font-size: 20px;
}

button {
    font-size: 20px;
}

nav {
    margin-bottom: 2em;
    display: flex;
    gap: 1em;
}

nav a:last-child {
    margin-left: auto;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.data {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.datum {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.numin {
    width: 4rem;
    font-size: 20px;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

@media screen and (min-aspect-ratio: 4/5) {
    #canvas {
        width: auto;
        height: 100%;
    }
}

@media screen and (min-aspect-ratio: 5/4) {
    .container {
        flex-direction: row;
    }

    .data {
        width: auto;
    }

    .datum {
        flex-direction: column;
    }
}
